<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_CERTIFICATE</key>
	<string>your_agora_app_certificate</string>
	<key>APP_ID</key>
	<string>your_agora_app_id</string>
	<key>ASR_API_KEY</key>
	<string></string>
	<key>ASR_MODEL</key>
	<string>stt-rt-preview-v2</string>
	<key>ASR_VENDOR</key>
	<string>soniox</string>
	<key>LLM_API_KEY</key>
	<string></string>
	<key>LLM_MODEL</key>
	<string>llama-3.3-70b-versatile</string>
	<key>LLM_URL</key>
	<string>https://api.groq.com/openai/v1/chat/completions</string>
	<key>TTS_KEY</key>
	<string></string>
	<key>TTS_MODEL_ID</key>
	<string>eleven_flash_v2_5</string>
	<key>TTS_SAMPLE_RATE</key>
	<string>44100</string>
	<key>TTS_VENDOR</key>
	<string>elevenlabs</string>
	<key>TTS_VOICE_ID</key>
	<string></string>
</dict>
</plist>
